files/fonts/* linguist-vendored
files/js/* linguist-vendored
files/css/foundation* linguist-vendored
files/css/magula.css linguist-vendored
files/css/normalize.css linguist-vendored
files/css/solarized_light.css linguist-vendored
files/css/font-*.css linguist-vendored
files/foundation* linguist-vendored
